body{
  background-color: #fff;
}
.main{
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}

p#lv-bullet{
  margin-bottom: 0px;
  padding-left: 10px;
}

p#lv-about{
  padding-top: 10px;
}

p#lv-copyright{
  font-style: italic;
}

h4#lv-project-title{
  margin-top: 20px;
  margin-bottom: 0px;
}

h5{
  padding-top: 10px;
  margin-bottom: 0px;
}

.lv-container-bg-1{
	background-color:#89CAD4;
    color: #000;
}

.lv-container-bg-2{
	background-color:#fff;
    color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lv-container-bg-trans{
  background-color:rgba(0,0,0,0.5);
}

.col-3.head{
  background-color: rgb(206, 206, 206);
  border-bottom: #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top: #000;
  border-top-style: solid;
  border-top-width: 1px;
  border-left: #000;
  border-left-style: solid;
  border-left-width: 1px;
  border-right: #000;
  border-right-style: solid;
  border-right-width: 1px;
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 0px;
  position: relative;
}

.col-6.head{
  background-color: rgb(206, 206, 206);
  border-bottom: #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top: #000;
  border-top-style: solid;
  border-top-width: 1px;
  border-left: #000;
  border-left-style: solid;
  border-left-width: 1px;
  border-right: #000;
  border-right-style: solid;
  border-right-width: 1px;
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 0px;
  position: relative;
}

.col-3.content{
  border-bottom: #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top: #000;
  border-top-style: solid;
  border-top-width: 1px;
  border-left: #000;
  border-left-style: solid;
  border-left-width: 1px;
  border-right: #000;
  border-right-style: solid;
  border-right-width: 1px;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

a:link {
    color: #3c92c5;
    text-decoration: none;
    font-weight: normal;
}

a:visited {
    color: #3c92c5;
    text-decoration: none;
}

a:hover {
    color: #3c92c5;
    text-decoration: underline;
}

a:active {
    color: #3c92c5;
    text-decoration: underline;
}
